*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: blue;
}
h1 {
  color: white;
  text-align: center;
  font-size: 30px;
}
h2{
  color: white;
  text-align: center;
  font-size: 20px;
}
.cajamayor{
  margin: 20px 20px;
}
.cajabuscar{
  padding: 10px 20;
  background-color: grey;
  max-width: 480px;
  margin: 0px auto;
}
.buscar{
  width: 100%;
  background-color: black;
  border:  none;
  font-size: 2rem;
  color: white;
}
buscar:focus{
  outline: none;
}
button {
  align-items: center;
  justify-content: center;
  border-color: white;
  background-color: black;
  color: white;
  max-width: 480px;
  margin: 0px auto;
}
.card {
  display: inline-block;
}
.card-img-top {
  width: auto; 
  height: 100%;
  object-fit: cover;  
}
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  border-top: 1ox solid white;
}